form {
    width: 500px;
    margin: 30px auto;
    text-align: center;
}

input {
    margin-bottom: 10px;
    margin-inline: 3px;
}

input[type="button"] {

    font-family: sans-serif;
    font-weight: bolder;
}



table {
    width: 1000px;
    margin-inline: auto;
}